<div class="container">
    <div class="row">
        <div class="col-sm">
            <table class="table table-bordered table-hover table-sm">
                <thead class="thead-dark">
                    <tr>
                        <%- @headers.each do |header| %> 
                            <th scope="col"><%= header %></th>
                        <% end %>
                    </tr>
                </thead>
                <tbody>
                    <%- @cases.each do |ccase| %> 
                        <tr>
                            <th scope="row"><%= ccase.created_at.strftime("%d-%m-%Y") %></th>
                            <td><%= ccase.positives %></td>
                            <td><%= ccase.deaths %></td>
                            <td><%= ccase.suspects %></td>
                            <td><%= ccase.negatives %></td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>