<div class="container">
    <div class="row">
        <h3>Casos diarios de Covid-19 en Morelia</h3>
    </div>
    <div class="row">
        <a href="casos" class="badge badge-pill badge-primary">Agregar datos de hoy</a>
    </div>
    <br>
    <div class="row">
        <div class="col-sm">
            <table class="table table-bordered table-hover table-sm">
                <thead class="thead-dark">
                    <tr>
                        <%- @headers.each do |header| %> 
                            <th scope="col"><%= header %></th>
                        <% end %>
                    </tr>
                </thead>
                <tbody>
                    <%- @cases.each do |ccase| %> 
                        <tr>
                            <th scope="row"><%= ccase.created_at.strftime("%d-%m-%Y") %></th>
                            <td><%= ccase.positives %></td>
                            <td><%= ccase.deaths %></td>
                            <td><%= ccase.suspects %></td>
                            <td><%= ccase.negatives %></td>
                            <td>
                                <%= link_to '<i class="material-icons">create</i>'.html_safe, edit_daily_path(ccase) %>
                                <%= link_to '<i class="material-icons">delete</i>'.html_safe, ccase, method: :delete %>
                            </td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
                <%= area_chart @charts[0], colors: ["#ff0000"] %>
        </div>
        <div class="col-sm">
                <%= area_chart @charts[1], colors: ["#000000"] %>
        </div>
    </div>
</div>